@model esercizioS17L1.Models.Dipendente

<h2>Conferma Eliminazione</h2>

<p>Sei sicuro di voler eliminare il seguente dipendente?</p>

<div>
    <h4>Nome: @Model.Nome</h4>
    <h4>Cognome: @Model.Cognome</h4>
</div>

<form asp-controller="Dipendenti" asp-action="DeleteConfirmed" asp-route-id="@Model.ID" method="post">
    <button type="submit" class="btn btn-danger">Elimina</button>
    <a asp-controller="Dipendenti" asp-action="Index" class="btn btn-default">Annulla</a>
</form>
