@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Benvenuti nell'Azienda Edile Gladiatore Costruzioni</h1>
    <p class="lead">La nostra missione è fornire servizi edili di alta qualità.</p>
    <img src="https://lirp.cdn-website.com/77553551/dms3rep/multi/opt/Gladiatore+Costruzioni-1920w.PNG" alt="Foto azienda" class="img-fluid">
</div>
